h1 {
	font-size: 3rem;
}

h3 {
	color: #fefefe;
}
.trades {
	display: flex;
	flex-direction: column;
	background: #20232a;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;
}

.trades h1,
h3 {
	text-align: center;
	color: rgb(252, 248, 248);
	font-weight: 600;
	padding: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	gap: 30px;
	display: flex;
	justify-content: space-between;
	padding: 0rem 7rem;
}

.card {
	background: rgb(51 55 62);
	margin-top: 50px;
	display: flex;
	border-radius: 5px;
	width: 25rem;
	height: 35rem;
	box-shadow: 0 22.36px 30.0124px rgb(39 39 95 / 19%);
	box-sizing: border-box;
	color: #333;
}

.card_3 {
	background: rgb(51 55 62);
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	width: 23rem;
	/* height: 40rem;   */
	padding: 1rem 0;
	box-shadow: 0 22.36px 30.0124px rgb(39 39 95 / 19%);
	box-sizing: border-box;
	color: #fefefe;
	justify-content: center;
	align-items: center;

	/* background-color: rgb(51, 55, 62);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); */
	background-color: rgb(51, 55, 62);
	background-image: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.1),
		rgba(0, 0, 0, 0.2)
	);
	border-radius: 5px; /* Optionally add border-radius for rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Add a box shadow for depth */
}

.card_3 h1 {
	font-size: 2rem;
}

.card_3 .roi {
	display: flex;
	flex-direction: column;
	padding: 0;

	align-items: center;
}

.roi h2 {
	font-weight: 600;
	font-size: 3rem;
}

.roi p {
	margin-top: 10px;
	font-size: 0.6rem;
	color: rgba(192, 192, 185, 0.733);
}

.list_4 {
	display: inline-flex;
	justify-content: center;
	width: 100%;
}

.list_4 ul {
	width: 80%;
	padding: 20px;
	text-align: center;
}

.list_4 li {
	display: flex;
	list-style: none;
	text-align: left;
	width: 100%;
	justify-content: space-between;
	padding: 7px;
}

.list_4 li p {
	text-align: center;
	display: flex;
	justify-content: space-between;

	font-size: 1rem;
}

.list_4 li span {
	height: fit-content;
	font-weight: 500;
	font-size: 6px;
	line-height: 9px;
	text-align: center;
	color: #fff;
	padding: 3px 4px 2px;
	background: #4a4ae2;
	border-radius: 12px;
	white-space: nowrap;
}

.span {
	height: fit-content;
	font-weight: 500;
	font-size: 6px;
	line-height: 9px;
	text-align: center;
	color: #fff;
	padding: 3px 4px 2px;
	background: #4a4ae2;
	border-radius: 12px;
	white-space: nowrap;
}

/* Accordion section */

.place_trade {
	margin-top: 40px !important;
}

.accordion {
	margin-top: 40px !important;
	max-width: 400px;
	margin: 100px auto 0;
	border-radius: 3px;
	background: #f1f1f1;
}

.accordion_visible {
	border: none;
	background: #fcd535;
	width: 100%;
	color: #333;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 9px 17px;
	border-radius: 10px;
}
.accordion_visible span {
	padding: 15px 0;
	font-size: 20px;
}
.accordion_visible img {
	width: 20px;
	transform: rotate(-90deg);
	transition: transform 0.2s ease-in-out;
}
.accordion_visible img.active {
	transform: rotate(0deg);
}

.accordion_visible h2 {
	font-size: 20px;
}

.accordion_toggle {
	height: 0px;
	font-size: 18px;
	opacity: 0;
	transition: opacity 0.6s ease-in-out, height 0.6s 0.6s ease-in-out !important;
	color: #333;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.accordion_toggle .animated {
	opacity: 1;
	transition: height 0.6s ease-in-out, opacity 0.6s 0.3s ease-in-out;
}

.accordion_toggle p {
	margin: 0;
	padding: 22px 15px;
	pointer-events: none;
	line-height: 1.3;
}

.label {
	margin-top: 10px;
	width: 100%;
	display: flex;
	text-align: left;
	padding: 0.25rem 0;
	font-size: 0.8rem;
	color: #aba6c0;
}

.input {
	width: 100%;
	margin: 0.5rem 0;
	padding: 1rem;
	height: 2rem;
	border: 1px solid #aba6c0;
	border-radius: 10px;
	color: #20232a;
}

.button {
	border: none;
	width: 100%;
	background: linear-gradient(90.21deg, #fcd535 -5.91%, #fcd435a6 111.58%);
	background: #575d69;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	color: #fefefe;
}

.button:hover {
	opacity: 0.9;
}

.modal_active {
	margin-top: 50px;

	padding: 15px;
	background: #4a4ae2;
	color: #fff;
	border-radius: 12px;
}

.clip {
	display: flex;
	gap: 10px;
	background-color: rgb(43, 49, 57);
	margin: 0.5rem 0;
	padding: 0 1rem;
	border: 1px solid #aba6c0;
	border: none;
	border-radius: 10px;
}

.clip .input {
	width: 100%;
	margin: 0.5rem 0;
	padding: 2vw;
	height: 1rem;
	background: #575d69;
	background-color: rgb(43, 49, 57);
	margin: 0.5rem 0;
	padding: 1rem;
	height: 2rem;
	border: 1px solid #aba6c0;
	border: none;
	border-radius: 10px;
}

.clip .input::placeholder {
	color: #fefefe4f !important;
	font-style: bold;
	font-size: 0.8rem;
}
/* .css_fky{

    height:auto;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    background-color: rgb(43, 49, 57);
    padding: 0px 155px;
    margin-top: 5px;
    margin-bottom:8px;

} */

@media screen and (max-width: 450px) {
	.row {
		padding: 0 !important;
	}

	.col_2 {
		padding: 2rem;
	}
}
